/* Main Styles */
body {
    font-family: 'Roboto Mono', monospace;
    /*background-color: rgba(228,242,82,1); */
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

/* Navigation */
nav {
    background-color: rgba(228,242,82,.9); 
    /*background-color: rgba(178,255,0,1);*/
    font-family: 'Bungee', cursive;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.my-icons {
    width: 23px;
    height: auto;
    margin-right: 5px;
}
.navbar-brand {
    font-size: x-large;
    font-family: 'Bungee Shade', cursive;
}
#navbarSupportedContent {
    margin: 8px -15px -7px -15px;
}
.nav-item {
    font-weight: 700;
    padding-bottom: 8px;
    margin-bottom: -1px;
    border-radius: 15px 15px 0 0;
}
.nav-link {
    padding: .5rem 1rem !important;
}
#bottom-nav {
    background-color: rgba(255,255,255,.8);
    padding: 0px;
    font-family: 'Bungee', cursive;
    position: fixed;
}
.bottom-links {
    color: grey; 
    text-shadow: none;
    margin-bottom: -7px;
}
.bottom-links:hover {
    background-color: #FA6E60;
    color: white;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.8);
    border-color: rgba(255,255,255,.8);
}

/* Nav Links */
#about-link:hover {
    background-color: #FFA58C;
}
#about-link a {
    color:white;
    padding-left: 12px;
}
#tech-link:hover {
    /*background-color: #C45271;*/
    background-color: #39AFB2;
}
#tech-link a {
    color:white;
    padding-left: 12px;
}
#projects-link:hover {
    /*background-color: #7F456E;*/
    /*background-color: #39AFB2;*/
    /*background-color: rgba(127,12,232,1);*/
    background-color: #FA6E60;
}
#projects-link a {
    color:white;
    padding-left: 12px;
}
#resume-link:hover {
    /*background-color: #3D3656;*/
    /*background-color: #007bff;*/
    background-color: #0CCD79;
}
#resume-link a{
    color:white;
    padding-left: 12px;
}
#contact-link:hover {
    /*background-color: #082131;*/
    /*background-color: #625896;*/
    background-color: rgba(127,12,232,1);
}
#contact-link a {
    color:white;
    padding-left: 12px;
}


/* All Sections */
.section-heading {
    font-family: 'Bungee', cursive;
    padding-bottom: 35px;
}
.subsection-dividers {
    padding: 10% 6%;
    height: -webkit-fill-available;
}
.subsection-content{
    /*padding-top: 40px;*/
}
.next-page {
    color: white;
    float: right;
    font-weight: 700;
}
.next-page:hover {
    color: white;
    border: 1px solid white;
}
.btn {
    font-family: 'Bungee Hairline', cursive;
}


/* Home */
#home {
    /*background-color: #E4F252;*/
    /*background-color: #3A2B6B;*/
    /*background-color: #C7D448;*/
    background-color: rgba(0,123,255);
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0;
}
#learn-more-btn {
    color: white;
    font-size: large;
}
#learn-more-btn:hover {
    color: white;
    font-size: large;
    border: 1px solid white;
}

/* About */
#about {
    background-color: #FFA58C;
    /*background-color: rgba(0,123,255);*/
    /*background-color: #FA6E60;*/
    /*background-color: #5EC993;*/
    /*background-color: #E42C08;*/
    color: white;
}
#about-portrait {
    max-height: 200px;
    width: auto;
    padding: 11px ;
    margin: 35px 15px 50px 15px;
    border-radius: 50%;
    border: 4px solid rgba(228,242,82,.9); 
    background-color: rgba(228,242,82,.1);
}
.about-text {
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Technologies */
#technologies {
    /*background-color: #5EC993;*/
    background-color: #39AFB2;
    /*background-color: rgba(178,255,0,1);*/
    color: white;
}
.tech-list-header {
    text-align: center;
    padding: 5px;
    margin: 2px 5px 8px 5px;
    width: 80%;
    font-family: 'Bungee Hairline', cursive;
}
.tech-list {
    list-style: none;
    margin-bottom: 0px;
}
.tech-list-item {
    background-color: rgba(228,242,82,.9);
    color: #5EC993;
    text-align: center;
    padding: 5px;
    margin: 5px 5px;
    width: 80%;
    font-family: 'Bungee', cursive;
}
.tech-list-item:hover {
    background-color: rgba(228,242,82,.5);
    color: white;
}


/* Projects */
#projects {
    /*background-color: #39AFB2;*/
    background-color: #FA6E60;
    /*background-color: #237DBF;*/
    height: unset;
}
.card {
    /*background-color: #39AFB2;*/
    /*background-color: #FA6E60;*/
    background-color:rgba(255,255,255,.1);
    color: white;
    margin: 15px -7px;
    box-shadow: 1px 1px 1px rgba(13,10,4,.5);
    border-radius: 10px;
    border: 1px solid rgba(228,242,82,.9); 
}
.card:hover{
/*    background-color: rgba(61,188,191,.8); */
    box-shadow: 3px 3px 3px rgba(13,10,4,.5);
}
.card-title {
    font-family: 'Bungee Hairline', cursive;
}
.github-link {
    display: block;
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(228,242,82,1); 
    color: #39AFB2;
    font-family: 'Bungee', cursive;
    letter-spacing: 2px;
    font-size: large;
    text-align: center;
}
.github-link:hover {
    background-color: rgba(237,187, 83,.8);
    background-color: rgba(228,242,82,.8); 
    color: white;
}
.list-group-item {
    background-color: transparent;
}
#project-gif {
    max-width: 100%; 
    height: auto;
}


/* Resume */
#resume {
    /*background-color: #007bff;*/
    background-color: #0CCD79;
    /*background-color: #062942;*/
    /*background-color: #6DC8FF;*/
    color: white;
}
#resume-preview {
    margin: 5px;
    padding: 5px;
}
#download-button {
    color:#6F94BD;
}
#download-button:hover {
    color: white;
}
#resume-heading {
    font-family: 'Bungee Hairline', cursive;
}


/* Contact */
#contact {
    background-color: rgba(127,12,232,1);
    /*background-color: #082131;*/
    /*background-color: #7F456E;*/
    /*background-color: #625896;*/
    /*background-color: #6E24E5;*/
    /*background-color: rgba(255,13,13,1);*/
    /*background-color: #062942;*/
    /*background-color: #6DC8FF;*/
    color: white;
    /*padding: 20px 18px;*/
}
#contact-me {
    /*color: #625896;*/
    color: #6E24E5;
    margin: 10px;
    padding: 5px;
    /*margin-right: 50px;*/
    /*margin-bottom: 90px;*/
    /*color: red;*/
    display:inline-block;
    max-width:200px;
}
#contact-me:hover {
    color: white;
}
.contact-me-text {
    font-size: large;
    /*font-family: 'Bungee Hairline', cursive;*/
}
#contact p {
    font-family: 'Bungee Hairline', cursive;
}
#contact-card-text {
    /*margin-left: 20px;*/
    /*margin-left: 40%;*/
    /*text-align: center;*/
    /*align-items: center;*/
    /*margin-right: auto;*/
}
.footer-cards {
    /*margin: 15px 10px;*/
    /*max-height: 400px;*/
    /*border: none;*/
    /*background-color: transparent;*/
}
.card-list {
    /*background-color: #7F456E;*/
    padding: 40px;
    min-height: 130px;
    /*border: 4px solid rgba(237,187, 83,1);*/
    border: 1px solid rgba(228,242,82,1);
}
#typeform-contact {
    border-left: 5px solid rgba(228,242,82,1);
    border-right: 5px solid rgba(228,242,82,1);
    border-top: 1px solid rgba(228,242,82,1);
    border-bottom: 1px solid rgba(228,242,82,1);
    /*margin: 10px;*/
}
.contact-link {
    background-color: rgba(228,242,82,1);
    font-weight: 700;
}
.contact-link:hover {
    background-color: rgba(228,242,82,.8);
}




/* TEST */
/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-color: #f5f5f5;
}*/
