/* Main Styles */
body {
    /*background-image: url('./assets/painted-wall.jpeg');*/
    /*background-color: red;*/
    /*font-family: 'Bungee', cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Bungee Hairline', cursive;
    font-weight: 700;
    background-color: rgba(228,242,82,1); 
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


/* Navigation */
nav {
    /*background-color: rgba(237,187, 83,.6);*/
    background-color: rgba(228,242,82,.9); 
    font-family: 'Bungee Hairline', cursive;
    font-weight: 700;
    font-size: large;
    /*margin: none;*/
}
.my-icons {
    width: 23px;
    height: auto;
    padding-left: 5px;
    /*padding-right: 20px;*/
    margin-right: 5px;
}
.navbar-brand {
    font-size: x-large;
}
#navbarSupportedContent {
    /*background-color: red;*/
    /*background-color: rgba(237,187, 83,.5);*/
    /*background-color: rgba(228,242,82,.5); */
    /*filter: blur(20px);*/
    /*border-radius: 15px;*/
    margin: 8px -15px -7px -15px;
}
.nav-item {
    /*background-color: white;*/
    /*border: none;*/
    /*margin: 100px;*/
    /*background-color: rgba(237,187, 83,.9);*/
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}


/* Nav Links */
#about-link:hover {
    background-color: #FA6E60;
}
#about-link a {
    color:white;
    padding-left: 12px;
}
#tech-link:hover {
    /*background-color: #C45271;*/
    background-color: #5EC993;
}
#tech-link a {
    color:white;
    padding-left: 12px;
}
#projects-link:hover {
    /*background-color: #7F456E;*/
    background-color: #39AFB2;
}
#projects-link a {
    color:white;
    padding-left: 12px;
}
#resume-link:hover {
    /*background-color: #3D3656;*/
    background-color: #6F94BD;
}
#resume-link a{
    color:white;
    padding-left: 12px;
}
#contact-link:hover {
    /*background-color: #082131;*/
    background-color: #625896;
}
#contact-link a {
    color:white;
    padding-left: 12px;
}


/* All Sections */
.section-heading {
    font-family: 'Bungee Hairline', cursive;
    /*text-align: center;*/
    padding-bottom: 35px;
}
.subsection-dividers {
/*    padding-top: 80px;
    padding-left: 18px;
    padding-bottom: 150px;*/
    padding: 80px 16px 80px 16px;
}
.subsection-content{
    /*padding-top: 40px;*/
}
.next-page {
    color: white;
    float: right;
    /*background-color: white;*/
}
.next-page:hover {
    color: white;
    border: 2px solid white;
}


/* Home */
#home {
    /*padding-top: 110px;*/
    /*padding-left: 18px;*/
    /*background-color: rgba(237,187, 83,1);*/
    /*background-color: rgba(228,242,82,1); */
    /*background-color: rgba(255,201,0,1);*/
    background-color: #E4F252;
    color: white;
    /*height: 120%;*/
    margin-bottom: 0px;
    /*padding-bottom: 100px;*/
}
#learn-more-btn {
    color: white;
    font-size: large;
}
#learn-more-btn:hover {
    color: white;
    font-size: large;
    border: 2px solid white;
}


/* About */
#about {
    background-color: #FA6E60;
    /*background-color: #5EC993;*/
    /*background-color: #E42C08;*/
    color: white;
    height: 100%;
    /*padding: 10px 18px;*/
    /*border-bottom: 5px solid rgba(0,0,0,.2);*/
}
#about-portrait {
    /*height: 180px;*/
    max-height: 200px;
    width: auto;
    /*display:inline-block;*/
    padding: 15px ;
    margin: 15px 15px 60px 15px;
    border-radius: 50%;
    border: 4px solid rgba(228,242,82,.9); 
    background-color: rgba(228,242,82,.1);
}
.about-text {
    /*padding: 15px 0;*/
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Technologies */
#technologies {
    /*background-color: #C45271;*/
    /*background-color: #BC9EF3;*/
    background-color: #5EC993;
    color: white;
    height: 100%;
    /*padding: 30px 18px;*/
}
.tech-list-header {
    text-align: center;
    padding: 5px;
    margin: 2px 5px 8px 5px;
    width: 80%;
    /*font-family: 'Bungee Hairline', cursive;*/
}
.tech-list {
    list-style: none;
    /*padding-bottom: 0px;*/
    margin-bottom: 0px;
}
.tech-list-item {
    /*background-color: rgba(237,187, 83,.2);*/
    background-color: rgba(228,242,82,.1);
    /*border: 1px solid rgba(237,187, 83,.9);*/
    border: 1px solid rgba(228,242,82,.9); 
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: 1px 5px;
    width: 80%;
    /*font-family: 'Bungee Hairline', cursive;*/
    font-size: large;
    /*text-decoration: none;*/
    /*padding: 0 20px;*/
    box-shadow: 1px 1px 2px rgba(13,10,4,.5);
}
.tech-list-item:hover {
    /*background-color: rgba(237,187, 83,.7);*/
    background-color: rgba(228,242,82,.7);
    /*color: rgba(237,187, 83,1);*/
}


/* Projects */
#projects {
    /*background-color: #7F456E;*/
    /*background-color: #2778C7;*/
    /*background-color: #2E8D90;*/
    background-color: #39AFB2;
    height: 100%;
    /*color: white;*/
    /*padding: 30px 18px;*/
}
.card {
    /*background-color: rgba(237,187, 83,.1);*/
    background-color: rgba(228,242,82,.1); 
    color: white;
    margin: 15px -7px;
    box-shadow: 2px 2px 5px rgba(13,10,4,.5);
    border-radius: 10px;
    /*border: 1px solid rgba(237,187, 83,.9);*/
    border: 1px solid rgba(228,242,82,.9); 
}
.github-link {
/*            border-radius: 10px;
    background-color: rgba(237,187, 83,.1);
    color: rgba(237,187, 83,1);
    border: 1px solid rgba(237,187, 83,1);*/
    padding: 10px;
    border-radius: 5px;
    /*background-color: rgba(237,187, 83,1);*/
    background-color: rgba(228,242,82,1); 
    color: #39AFB2;
    /*font-family: 'Bungee', cursive;*/
    letter-spacing: 2px;
    font-size: large;
    text-align: center;
}
.github-link:hover {
    background-color: rgba(237,187, 83,.8);
    background-color: rgba(228,242,82,.8); 
    color: white;
}
.list-group-item {
    background-color: transparent;
}
#parle-lune-gif {
    /*height: 120px;*/
    /*width: auto;*/
    max-width: 100%; 
    height: auto;
}


/* Resume */
#resume {
    /*background-color: #3D3656;*/
    /*background-color: #C45271;*/
    background-color: #6F94BD;
    color: white;
    height: 100%;
    /*padding: 20px 18px;*/
}
#resume-preview {
    /*max-height: 200px;*/
    /*height: 65%;*/
    /*margin-bottom: 20px;*/
    margin: 5px;
    padding: 5px;
}
#download-button {
    /*margin-top: 10px;*/
    /*padding-top: 10px;*/
    /*background-color: red;*/
    /*height: 30%;*/
    /*text-align: center;*/
    /*font-size: medium;*/
    /*align-items: center;*/
    /*margin-left: 17px;*/
    /*text-decoration: none;*/
    /*color: black;*/
    color:#6F94BD;
}
#download-button:hover {
    color: white;
}
#resume-heading {
    font-family: 'Bungee', cursive;
}


/* Contact */
#contact {
    /*background-color: #082131;*/
    /*background-color: #7F456E;*/
    background-color: #625896;
    color: white;
    height: 100%;
    /*padding: 20px 18px;*/
}
#contact-me {
    color: #625896;
    margin: 10px;
    padding: 7px;
    /*margin-right: 50px;*/
    /*margin-bottom: 90px;*/
    /*color: red;*/
    display:inline-block;
    max-width:200px;
}
#contact-me:hover {
    color: white;
}
.contact-me-text {
    font-size: large;
}
#contact-card-text {
    /*margin-left: 20px;*/
    /*margin-left: 40%;*/
    /*text-align: center;*/
    /*align-items: center;*/
    /*margin-right: auto;*/
}
.footer-cards {
    margin: 15px 10px;
    /*max-height: 400px;*/
    /*border: none;*/
    /*background-color: transparent;*/
}
#message-plane {
    /* TODO - SIZING*/
}
.card-list {
    /*background-color: #7F456E;*/
    padding: 40px;
    min-height: 130px;
    /*border: 4px solid rgba(237,187, 83,1);*/
    border: 1px solid rgba(228,242,82,1);
}

