{% extends 'layout.html' %}
{% set active_page = 'about' %}

{% block content %}

    <!-- About -->
    <div id="about" class="row subsection-dividers">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" class="about-text">
            <h3 class="section-heading hidden-md-down">welcome + nice to meet you
                <a class="next-page btn" role="button" href="/technologies" style="background-color: #5EC993;"><img src="./static/img/tech-code.png" class="my-icons" style="padding-left: 0px;"> technologies</a>
            </h3>
            <h3 class="section-heading hidden-lg-up">hi there 
                <a class="next-page btn" role="button" href="/technologies" style="background-color: #5EC993;"><img src="./static/img/tech-code.png" class="my-icons" style="padding-left: 0px;"> tools</a>
            </h3>

        </div>
        <div class="col-lg-2 hidden-md-down"></div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-6 about-text">
            <p><br class="hidden-md-down">I am a Full Stack Software Engineer in the SF Bay Area who brings holistic development and functional beauty to applications. With professional experience in the music, retail, political and tech industries, I strive to be the Swiss Army Knife in any situation.</p>

            <p>In my free time, I love to learn, empower others to pursue STEM and dive deep into the problems of tomorrow.</p>

            <p>Let's make something together!</p>
        </div>
        <div class="hidden-xs-down col-sm-3 col-md-3 col-lg-2">
            <img src="./static/img/rtg-portrait.jpg" class="img-fluid" id="about-portrait" alt="Rachel Traina-Grandon portrait">
        </div>
        <div class="col-lg-2 hidden-md-down"></div>
    </div>
<!--             <a class="next-page btn" role="button" href="/technologies" style="background-color: #5EC993;"><img src="./static/img/tech-code.png" class="my-icons" style="padding-left: 0px;"> technologies</a> -->

{% endblock %}