{% extends 'layout.html' %}
{% set active_page = 'index' %}

{% block content %}

    <!-- Home Panel -->
    <div id="home" class="jumbotron jumbotron-fluid row subsection-dividers" style="font-family: 'Bungee', cursive;">
      <div class="container">
        <h1 class="display-3">rachel traina-grandon</h1>
        <p class="lead">programmer + performer</p>
            <a class="btn" role="button" id="learn-more-btn" href="/about" style="background-color: #FA6E60; font-family: 'Bungee Hairline', cursive; font-weight: 700;">about me</a>
      </div>
    </div>

{% endblock %}