{% extends 'layout.html' %}
{% set active_page = 'resume' %}

{% block content %}

    <!-- Resume -->
    <div id="resume" class="row subsection-dividers">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="section-heading">resume
                                <a class="next-page btn" role="button" href="/contact" style="background-color: #625896;"><img src="./static/img/contact-white.png" class="my-icons" style="padding-left: 0px;"> contact</a>

        </h3>
        </div>

        <div class="col-lg-2 hidden-md-down"></div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 about-text">
            <h4 id="resume-heading">Rachel Traina-Grandon</h4>
            <p>Full Stack Software Engineer with previous experience in Product Management + UI/UX</p>
            <!-- Add extra space for certain width -->
            <div class="hidden-md-down"> 
                <br>
            </div>
            <a href="./assets/resume/Traina-Grandon_Resume_2017-c.pdf" class="card-link github-link" id="download-button">Download CV</a>
        </div>
        <div class="hidden-sm-down col-md-3 col-lg-2">
            <img src="./static/img/resume-preview.png" class="img-fluid" id="resume-preview" alt="Rachel Traina-Grandon resume">
        </div>
        <div class="col-lg-2 hidden-md-down"></div>
    </div>
<!--                 <a class="next-page btn" role="button" href="/contact" style="background-color: #625896;"><img src="./static/img/contact-white.png" class="my-icons" style="padding-left: 0px;"> contact</a> -->

{% endblock %}




<!-- 
    <div class="row">
        <div class="card-deck">
            <div id="resume" class="col d-flex align-items-stretch">
                <div class="card footer-cards">
                    <div class="row">
                        <div class="col-lg-6 hidden-md-down">
                            <img id="resume-preview" src="./static/img/resume-preview.png" class="w-75">
                        </div>
                        <div class="col-md-12 col-lg-6 px-3">
                            <div class="card-block px-3">
                                <h4 class="card-title">Resume</h4>
                                    <p class="card-text">Full Stack Software Engineer with previous experience in Product Management + UI/UX</p>
                                    <a href="./assets/resume/Traina-Grandon_Resume_2017-c.pdf" class="card-link github-link" id="download-button">Download CV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->