{% extends 'layout.html' %}
{% set active_page = 'technologies' %}

{% block content %}

    <!-- Technologies -->
    <div id="technologies" class="subsection-dividers">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="section-heading">tools
                    <a class="next-page btn" role="button" href="/projects" style="background-color: #FA6E60;"><img src="./static/img/projects-white.png" class="my-icons" style="padding-left: 0px;"> projects</a>
                </h3>
            </div>
        </div>

        <!-- Languages -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <ul class="tech-list">
                    <li class="tech-list-header">Languages</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">Python</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 4/5</strong></span>">JavaScript</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">HTML5</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">CSS3</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 4/5</strong></span>">SQL</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 4/5</strong></span>">Unix Commands</li>
                </ul>
            </div>
            <!-- Frameworks -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <ul class="tech-list">
                    <li class="tech-list-header">Frameworks</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">Flask</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 3/5</strong></span>">Django</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 4/5</strong></span>">jQuery</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 4/5</strong></span>">Node</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 4/5</strong></span>">Express</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 3/5</strong></span>">React</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">Bootstrap</li>
                </ul>
            </div>
            <!-- Database, Deployment, Security -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <ul class="tech-list">
                    <li class="tech-list-header">Database + Deployment</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 3/5</strong></span>">PostgreSQL</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 3/5</strong></span>">SQLite</li> 
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 3/5</strong></span>">Heroku</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 2/5</strong></span>">AWS</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 3/5</strong></span>">Docker</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">Atlassian Suite</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 2/5</strong></span>">Security</li>
                </ul>
            </div>
            <!-- Web, OS, Dev Tools -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <ul class="tech-list">
                    <li class="tech-list-header">Web + OS + Tools</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">AJAX</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 3/5</strong></span>">Web Sockets</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 3/5</strong></span>">Linux</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">macOS (OS X)</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">Git</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">GitHub</li>
                    <li class="tech-list-item" data-toggle="tooltip" data-placement="right" data-html="true" title="<span style='color: #5EC993;'><strong>XP 5/5</strong></span>">BitBucket</li>
                </ul>
            </div>
        </div>
        
    </div>

{% endblock %}
